footer a.text-white:hover {
    text-decoration: underline !important;
}

.logo-text {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #dc3545;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}